<?php
$page = "manage-user";
include "./header.php";
include "../database.php";
$query = "SELECT * FROM userdetails ORDER BY role ASC";
$result = mysqli_query($conn, $query);
$users = [];
if ($result) {
    while ($row = mysqli_fetch_row($result)) {
        array_push($users, $row);
    }
} else {
    echo "query execution failed";
}
?>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center>
                <h3>
                    Manage Users
                </h3>
            </center>
        </div>
        <div class="col-md-2">
            <a href="./add-user.php" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Add User
            </a>
        </div>
    </div>
    <hr class="hr">
    <table class="table table-stripped table-hover">
        <thead>
            <th class="text-center">
                #
            </th>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Email
            </th>
            <th class="text-center">
                Bus Assigned
            </th>
            <th class="text-center">
                Role
            </th>
            <th class="text-center">
                Action
            </th>
        </thead>
        <tbody>
            <?php
            for ($i = 0; $i < sizeof($users); $i++) {
            ?>
                <tr>
                    <td class="text-center">
                        <?php echo $users[$i][0] ?>
                    </td>
                    <td class="text-center">
                        <?php echo $users[$i][1] ?>
                    </td>
                    <td class="text-center">
                        <?php echo $users[$i][2] ?>
                    </td>
                    <td class="text-center">
                        <?php
                        if ($users[$i][6] == "") {
                            echo "None";
                        } else {
                            echo $users[$i][6];
                        }
                        ?>
                    </td>
                    <td class="text-center">
                        <?php echo $users[$i][5] ?>
                    </td>
                    <td class="text-center">
                        <a href="user.html?id=<?php echo $users[$i][0]; ?>" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                            </svg>
                            View
                        </a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<br><br>
<?php include "./footer.php"; ?>