{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<div id="maindiv">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/fonts/iconic/css/material-design-iconic-font.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/login.css')}}">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

				<form class="login100-form validate-form" method="post" action="{{ url_for('login') }}">
					<span class="login100-form-title p-b-30">
						Register Here
					</span>
                    <div class="wrap-input100 validate-input m-b-23">
                        <label for="name">Name</label>
                         {{ form.name(placeholder="Type your name", class="input100") }}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-23">
                        <label for="email">Email</label>
                        {{ form.email(placeholder="Type your email", class="input100") }}
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>
					<div class="wrap-input100 validate-input">
                        <label for="passwords">Password</label>
                        {{ form.password(placeholder="Type your password", class="input100") }}
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div><br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Register
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- end of frontend code -->
</div>
{% include "footer.html" %}
