<?php
if (!isset($_GET['id'])) {
    header('location:./');
    exit;
}
extract($_GET);
include "../database.php";
$query = "SELECT * FROM userdetails WHERE _id=$id";
$result = mysqli_query($conn, $query);
if ($result) {
    $data = mysqli_fetch_row($result);
} else {
    echo "<script>console.log(\"" . mysqli_error($conn) . "\");alert('query execution failed');</script>";
}
include "./header.php";
?>
<div id="printableArea">

    <center>
        <h4>
            User Details Of User ID :- <?php echo $id; ?>
        </h4>
    </center>
    <div class="container" style="max-width: 800px; border: ridge; border-radius: 10px;">
        <table class="table table-hover table-stripped">
            <tr>
                <th>
                    User ID
                </th>
                <td>
                    <?php echo $data[0]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Profile Image
                </th>
                <td>
                    <img src="../<?php echo $data[7]; ?>" alt="Profile Image" style="width: 150px; height: 150px; border: ridge; border-radius: 50%;">
                </td>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <td>
                    <?php echo $data[1]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    <?php echo $data[2]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Password
                </th>
                <td>
                    <?php echo $data[3]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Phone Number
                </th>
                <td>
                    <?php echo $data[4]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Role
                </th>
                <td>
                    <?php echo $data[5]; ?>
                </td>
            </tr>
            <tr>
                <th>
                    Bus Assigned
                </th>
                <td>
                    <?php
                    if ($data[6] == "") {
                        echo "None";
                    } else {
                        echo $data[6];
                    }
                    ?>
                </td>
            </tr>
            <tr id="print-btn">
                <td colspan="2">
                    <center>
                        <button class="btn btn-outline-dark" onclick="printDiv()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                            </svg>
                            Print Details
                        </button>
                        <a href="#" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
                            </svg>
                            Delete User
                        </a>
                    </center>
                </td>
            </tr>
        </table>
    </div>

</div>

<?php include "./footer.php"; ?>

<script>
    function printDiv() {
        document.getElementById('print-btn').style.display = "none";
        var printContents = document.getElementById('printableArea').innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
        document.getElementById('print-btn').style.display = "block";
    }
</script>